# Eclipse-specific files
.metadata/
.project
.classpath
.settings/
.recommenders/

# OS-specific files
Thumbs.db
.DS_Store

# Log files
*.log

# 기타 시스템 및 불필요한 파일
../.config/
../AppData/
../NTUSER.DAT*
../OneDrive/
