# Eclipse-specific files
.metadata/
.project
.classpath
.settings/
.recommenders/

# OS-specific files
Thumbs.db
.DS_Store

# Log files
*.log

# Windows-specific system directories
AppData/
Application Data/
Cookies/
Documents/My Music/
Documents/My Pictures/
Documents/My Videos/
Local Settings/
My Documents/
NetHood/
